<p id="notice"><%= notice %></p>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<td>Name</td>
			<td>Description</td>
			<td>Department</td>
			<td>Price</td>
			<td>Quantity</td>
			<td colspan="2"></td>
		</tr>
	</thead>
	<tbody>
		<%= 
			render partial: "products/product",
			collection: @products_by_department 
		%>
	</tbody>
</table>

